.ages-circle {
  display: inline-block;
  height: 1em;
  width: 1em;
  padding: 0.5em;
  border-radius: 2em;
  // font-size: 0.5rem;
  color: transparent;
  transition: 1s ease-in-out;
  &--always {
    background-color: var(--green);
  }
  &--sometimes {
    background-color: var(--orange);
  }
  &--never {
    background-color: var(--red);
  }
  // todo: maths
  &:nth-of-type(1) {
    transform: translate(0, 0);
  }
  &:nth-of-type(2) {
    transform: translate(-0.5em, -1.4em);
  }
  &:nth-of-type(3) {
    transform: translate(-0.4em, -2.5em);
  }
  &:nth-of-type(4) {
    transform: translate(0, -3em);
  }
  &:nth-of-type(5) {
    transform: translate(0.4em, -2.5em);
  }
  &:nth-of-type(6) {
    transform: translate(0.5em, -1.4em);
  }
  &:nth-of-type(7) {
    transform: translate(0, 0);
  }
  &.not-transformed, .not-transformed & {
    transform: none !important;
  }
  &__container {
    transform: translate(0, 3em);
    &.not-transformed, .not-transformed & {
      transform: none !important;
    }
  }
}
