@import "../utils/colours";

.cost-icon {
  font-weight: bold;
  font-size: 1.2em;
  &--always {
    color: var(--green);
  }
  &--sometimes {
    color: rgba($green, 0.3);
  }
  &--never {
    color: transparent;
  }
}
