@import "../utils/colours";

.teacher-qualifications-icon {
  width: 2em;
  height: 0.3em;
  display: block;
  margin-bottom: 1px;
  border: 1px solid #aaa;
  &--always {
    background-color: var(--green);
    border-color: var(--green);
  }
  &--sometimes {
    background-color: rgba($green, 0.3);
    border-color: var(--green);
  }
  &--never {
    background-color: transparent;
  }
}
