// Breakpoints
$desktop-and-above: 'only screen and (min-width: 992px)';

// Padding
$card-padding-y: 3rem;
$card-padding-x: 1rem;

$section-padding-y: 30px;

$outline-offset: 0.2rem;

$link-color: #007bff;

@function url-encoded-color($color) {
    @return '%23' + str-slice('#{$color}', 2, -1)
}

:root {
  --impendingstorm: #9CA7DB;
  --impendingstorm--deep: #41465C;
  --impendingstorm--highlight: #A5B0E8;
  --lavender: #BAA7DB;
  --lavender--deep: #4E465C;
  --lavender--highlight: #C5B0E8;
  --latte: #DBC8B2;
  --latte--deep: #5C544A;
  --latte--highlight: #E8D3BC;
  --ripelime: #DBD886;
  --ripelime--deep: #5C5B38;
  --ripelime--highlight: #E8E58E;
  --sunnydaysky: #91C4DB;
  --sunnydaysky--deep: #3D525C;
  --sunnydaysky--highlight: #99CFE8;

  --green: #86DBC8;
  --red: #DBB4A7;
  --orange: #DBAF7B;
  --yellow: #DBD77B;
  --color-black: #000;
  --color-white: #FFF;
}

.bg-lavender {
  background: var(--lavender);
}

.link-not-blue {
  color: #212529;
}
.link-not-blue:hover {
  text-decoration: none;
}

.decision-tree-wrapper {
  .answer {
    opacity: 0;
    position: absolute;
    top: calc(50% - 7px);
    left: 22%;
    z-index: 5;

    @media (max-width: 576px) {
      left: 11%;
    }

    &:hover {
      cursor: pointer;
    }

    &:checked {
      + label {
        background-color: #fc0; // backup for IE11
        background-color: var(--lavender);
        border: 1px solid #000; // backup for IE11
        border: 1px solid var(--color-black);
      }
    }

    &:focus {
      + label {
        outline: 2px solid #326af5; // backup for IE11
        outline: 2px solid var(--color-accessibility-ring);
        box-shadow: none;
        outline-offset: $outline-offset;
      }
    }
  }

  label {
    font-weight: 600;
    background-color: #fff; //backup for IE11
    background-color: var(--color-white);
    padding: $card-padding-y $card-padding-x;
    border: 1px solid #000; //backup for IE11
    border: 1px solid var(--color-black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    // traditional radio buttons on mobile
    @media (max-width: 576px) {
      background: none;
      box-shadow: none;
      padding: 0.5em 0 0.5em 55px;
      text-align: left;
      border: none;
    }
  }
}
//
// .checklist {
//   &:after {
//     content: '';
//   }
// }

.table-sticky-header {
  position: relative;
  th {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  }
}

.process-item {
  position: relative;
  top: -2px;
  background: white;
}

.process-item-preview {
  height: 100%;
  &--active {
    position: relative;
    &.card {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    &::after {
      content: '';
      border-bottom: 4px solid white;
      position: absolute;
      bottom: -2px;
      z-index: 99;
      width: 100%;
    }
  }
}

a.external {
  &::after {
    content: '';
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.2em;
    display: inline-block;
    background-repeat: no-repeat;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><path fill='#{url-encoded-color($link-color)}' d='M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z'></path></svg>");
  }
}
