:root {
  --impendingstorm: #9CA7DB;
  --impendingstorm--deep: #41465C;
  --impendingstorm--highlight: #A5B0E8;
  --lavender: #BAA7DB;
  --lavender--deep: #4E465C;
  --lavender--highlight: #C5B0E8;
  --latte: #DBC8B2;
  --latte--deep: #5C544A;
  --latte--highlight: #E8D3BC;
  --ripelime: #DBD886;
  --ripelime--deep: #5C5B38;
  --ripelime--highlight: #E8E58E;
  --sunnydaysky: #91C4DB;
  --sunnydaysky--deep: #3D525C;
  --sunnydaysky--highlight: #99CFE8;

  --green: #86DBC8;
  --red: #DBB4A7;
  --orange: #DBAF7B;
  --yellow: #DBD77B;
}

.bg-lavender {
  background: var(--lavender);
}
