@import 'colours';
@import 'bootstrap-overrides';

@each $name, $colour in $colours {
  .bg-#{$name} {
    background-color: #{$colour};
  }
  .font-color-#{$name} {
    color: #{$colour};
  }
}

:root {
  @each $name, $colour in $colours {
    --#{$name}: #{$colour};
  }
  --color-black: #000;
  --color-white: #FFF;
}

$component-active-color: #000;
