.clickable {
  cursor: pointer;
  &:hover, &:active {
    background-color: var(--lightforest);
  }
  &.active {
    background-color: var(--green);
    color: white
  }
}

.ant-table-container table, .ant-table-cell, .ant-table-thead {
  height: 100%;
}
