.clickable {
  cursor: pointer;
  &:hover, &:active {
    background-color: var(--impendingstorm--highlight);
  }
  &.active {
    background-color: var(--impendingstorm);
  }
}

.ant-table-container table, .ant-table-cell, .ant-table-thead {
  height: 100%;
}
